@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.focus:focus{
  outline: none;
}

.inlinefont::placeholder {
  font-family: "Quicksand", sans-serif;
}

.error-field {
  font-size: 1.7rem;
  height: 1.8rem;
  color:rgb(236, 102, 102);
  font-weight: bold;
}

.submit--button {
  background: radial-gradient(73.23% 106% at 34.94% 108.33%, #d966e6 0%, #8c68f8 100%);
}

.link--button {
  background: radial-gradient(73.23% 106% at 34.94% 108.33%, #597dd6 0%, #8c68f8 100%);
}

.delete--button {
  background: rgb(208, 22, 22);
}

.submit--button,
.link--button ,
.delete--button{
  padding: 1rem 2rem;
  color: #f3f1f1;
  border-radius: 2rem;
  font-size: 1.75rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  border: none;
  transition: all .3s ease-out;
  text-decoration: none;
}

.join--button {
  padding: .8rem 1.5rem;
  color: #f3f1f1;
  border-radius: 2rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: radial-gradient(73.23% 106% at 34.94% 108.33%, #597dd6 0%, #8c68f8 100%);
}

button {  
  font-family: "Quicksand", sans-serif;
}

.link--button:hover,
.submit--button:hover, 
.delete--button:hover {
  transform: translateY(-3px);
}

.text--color {
  background: radial-gradient(73.23% 106% at 34.94% 108.33%, #fad0ff 0%, #8c68f8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pointer {
  cursor: pointer;
}

.navbar__links ul{
  list-style: none;
}

.navbar__links ul li {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.navbar__links ul li:not(:last-child) {
  margin-bottom: .5rem;
}

.navbar__links ul li:hover ,
.navbar__active {
  border-radius: .6rem;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  color: #f3f1f1;
}

.navbar__links ul li div {
  color: #f3f1f1;
}

.navbar__links span {
  font-weight: bold;
  font-size: 1.6rem;
}

.privacy--policy{
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
}

.upload__profile--button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #8c68f8 ;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #f3f1f1;
  text-transform: uppercase;
}

.profile__image {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  cursor: pointer;
  vertical-align: middle;
}