.container__three {
    height: 100%;
    width: 23%;
    background: #2C2F48;
    border-left: 1px solid #444d59;
}

.container__write__profile {
    display: flex;
    padding: 1rem;
}

.container__write__blog {
    padding: 1.5rem 1.5rem 0 0;
}

.container__write__blog a ,
.container__signup a,
.container__login a {
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #597dd6 0%, #8c68f8 100%);
}

.container__write__blog a, 
.container__signup a,
.container__login a
{
    border: none;
     color: #f3f1f1;
     text-decoration: none;
     padding: 1rem 1.5rem;
     border-radius: 2rem;
     font-size: 1.6rem;
}

.container__profile__card {
    background: #2C2F48;
    padding: 2rem 2.5rem;
    width: 22rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}