.container__three {
    height: 100%;
    width: 23%;
    background: #2C2F48;
    border-left: 1px solid #444d59;
}

.container__three__profile {
    display: flex;
    padding: 1.4rem 2rem;
}

.container__write__blog {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__write__blog a ,
.container__signup a,
.container__login a {
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #597dd6 0%, #8c68f8 100%);
}

.container__write__blog a, 
.container__signup a,
.container__login a
{
    border: none;
     color: #f3f1f1;
     text-decoration: none;
     padding: 1rem 1.5rem;
     border-radius: 2rem;
     font-size: 1.6rem;
}

.container__profile__user, .container__profile__login {
    padding: 0 2rem;
}

.container__profile__card {
    padding: 2rem 2.5rem;
}

.user__profile__card,
.container__profile__card {
    background: #2C2F48;
    width: 22rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.user__profile__card {
    display: none;
    flex-direction: column;
    color:#f3f1f1;
    font-size: 1.4rem;
    position: absolute;
}

.user__profile--icon span,
.user__view__profile ,
.user__account__settings {
    text-decoration: none;
    color: #f3f1f1;
}

.user__profile--list{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.user__view__profile,
.user__account__settings {
    margin-bottom: 2rem;
}

.user__profile--icon {
    height: 4.7rem;
    width: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #b265bd 0%, #7758D1 100%);
} 

.user__profile--icon span {
    font-size: 1.8rem;
    font-weight: bold;
}
