.main { 
    height: 100%;
    width: 57%;
    background: #16222e;
}
.main__search__bar {
    padding: 1.3rem 0;
    background: #2f343d;
    display: flex;
    justify-content: center;
}

.main__search__position {
    position: relative;
    background: #000000;
    width: 70%;
    padding: 1.2rem 2rem 1.2rem 4rem;
    border: 1px solid #444d59;
    border-radius: 2rem;
}

.search__icon {
    position: absolute;
    color: #ffffff;
    font-size: 2.2rem;
    left: 1.2rem;
    top: 1rem;
}

.main__search__bar input {
    color: #f3f1f1;
    background: none;
    border: none;
    font-size: 1.6rem;
    width: 100%;
    font-family: "Quicksand", sans-serif;
}

.main__search__bar input::placeholder {
    color: #f3f1f1;
}

.main__content {
    background: #16222e;
    color: #ffffff;
    border-top: 1px solid #444d59;
    overflow-y: auto;
}

