.main { 
    height: 100%;
    width: 57%;
    background: #1D203E;
}
.main__search__bar {
    height: 7.3%;
    padding: 1.4rem 0;
    background: #2C2F48;
    display: flex;
    justify-content: center;
}

.main__search__position {
    position: relative;
    background: linear-gradient(180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%);
    width: 70%;
    padding: 1.2rem 2rem 1.2rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
}

.search__icon {
    position: absolute;
    color: rgba(235, 235, 245, 0.6);
    font-size: 2.2rem;
    left: 1.2rem;
    top: 1rem;
}

.main__search__bar input {
    color: #f3f1f1;
    background: none;
    border: none;
    font-size: 1.6rem;
    width: 100%;
    font-family: "Quicksand", sans-serif;
}

.main__search__bar input::placeholder {
    color: #f3f1f1;
}

.main__content {
    height: 92.7%;
    background: #1D203E; 
    color: #f3f1f1;
    border-top: 1px solid #444d59;
    overflow-y: auto;
}


