.quantum__profile--container
{
    display: flex;
    height: 100vh;
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #597dd6 0%, #8c68f8 100%);
}

.quantum__profile--container .profile__container--sidebar {
    background: rgba(44, 47, 72, 0.3);
    width: 20%;
    color: #f3f1f1;
}

.quantum__profile--container .profile__container--sidebar a {
    text-decoration: none;
    color: #f3f1f1;
}

.quantum__profile--container .profile__container--main {
    background: #2C2F48;
    width: 80%;
    color: #f3f1f1;
}

.quantum__profile--container .image__holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantum__profile--container .shape__outer {
    display: flex;
    flex-shrink: 0;
    height: 140px;
    width: 140px;
    background-image: linear-gradient(to bottom right,#f3f1f1, #f3f1f1);
}

.quantum__profile--container .shape__inner {	
    height: 13rem;
    width: 13rem;
    margin: auto;
}

.quantum__profile--container .word--profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #b265bd 0%, #7758D1 100%);
    font-size: 5rem;
}

.quantum__profile--container .circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.quantum__profile--container .profile .name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantum__profile--container .profile .tagline,
.quantum__profile--container .profile .membership__date ,
.quantum__profile--container .profile .email__address {
    background: rgba(44, 47, 72, 0.5);
    border-radius: .5rem;
    margin: 3rem 0;
    padding: 1rem;
}

.quantum__profile--container .profile__container--main{
    overflow-y: auto;
    scrollbar-width: none;
    height: 100%;
}

.quantum__profile--container .profile__container--main::-webkit-scrollbar{
    display: none;
}

.quantum__profile--container .profile__container--main .posts .user__feed--container {
    width: 105rem;
    margin-bottom: 3rem;
}