.section__onstart {
    height: 100vh;
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #b265bd 0%, #7758D1 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__continue__with {
    background: rgba(44, 47, 72, 0.5);
    border-radius: 1.5rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.section__onstart__paragraph {
    width: 55%;
    padding-left: 5rem;  
}

.section__onstart__paragraph p{
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
}

.google__login {
    border-radius: 1.8rem !important;
    cursor: pointer;
    background: white;
    color: #000000 !important;
    font-size: 1.8rem !important;
    margin: 4rem 0 4rem 0;
    padding: .3rem 2rem !important;
    font-family: "Quicksand", sans-serif !important;
    width: 30rem !important;
}

.google__login > div {
    border-radius: 1.8rem !important;
}

.section__continue__email {
    font-size: 1.8rem;
    background: #ffffff;
    font-weight: 500;
    padding: 1.2rem 1rem;
    border-radius: 1.8rem;
    text-align: center;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}

.section__continue__email:hover {
    opacity: 0.9;
} 

.section__enter__email {
    margin-top: 2rem;
}

.section__enter__email input {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.5rem 1.8rem;
    font-family: "Quicksand", sans-serif;
    border-radius: 2rem;
    border: none;
    width: 50rem;
}

.submit_enter_email {
    background: green;
    padding: 1.2rem 2rem;
    color: #ffffff;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    width: 13rem;
    text-align: center;
    border: none;
    margin-top: 2rem;
    transition: all .3s ease-out;
}

.submit_enter_email:hover {
    transform: translateY(-3px);
}

.section__check__email {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__check__email span {
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #fad0ff 0%, #8c68f8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    
