.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.header div:not(:last-child) {
    padding-right: 2rem;
}

.header__logo span{
    font-size: 2.8rem;
}

.header__search__bar input {
    width: 60rem;
}