.quantum__navbar__bg {
    height: 100%;
    width: 20%;
}

.quantum__navbar {
    height: 100%;
    position: relative;
    background: rgba(44, 47, 72, 0.3);
}

.navbar__logo,
.quantum__navbar--links {
    padding: 2rem;
}

.quantum__navbar__footer  {
    position: absolute;
    bottom: 0   ;
    color: #f3f1f1;
    width: 100%;
    padding: .5rem 2rem;
}

.quantum__navbar .quantum__social__links a:not(:last-child) {
    margin-right: 4rem;
}

.quantum__navbar .quantum__social__links a svg{
    color: #f3f1f1;
    font-size: 2.2rem;
}