.quantum__navbar__bg {
    height: 100%;
    width: 20%;
}

.quantum__navbar {
    height: 100%;
    position: relative;
    background: rgba(44, 47, 72, 0.3);
}

.navbar__logo,
.navbar__links {
    padding: 2rem;
}

.navbar__links ul{
    list-style: none;
}

.navbar__links ul li {
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.navbar__links ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.navbar__links ul li:hover ,
.navbar__active {
    border-radius: .6rem;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: #f3f1f1;
}

.navbar__links ul li div {
    color: #f3f1f1;
}

.navbar__links span {
    font-size: 1.5rem;
}

.quantum__navbar__footer  {
    position: absolute;
    bottom: 0   ;
    color: #f3f1f1;
    width: 100%;
    padding: .5rem 2rem;
}

.quantum__navbar .quantum__social__links a:not(:last-child) {
    margin-right: 4rem;
}

.quantum__navbar .quantum__social__links a svg{
    color: #f3f1f1;
    font-size: 2.2rem;
}