.quantum__navbar__bg {
    height: 100%;
    width: 20%;
    background: linear-gradient(to top, #182C61, #182C61);
}

.quantum__navbar {
    background: #ffffff;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(114, 112, 112, 0.7),rgba(185, 180, 180, 0.4));
}

.navbar__logo {
    padding: 2rem;
}

.navbar__logo span {
    font-size: 2.8rem;
    color: #f3f1f1;
}

.navbar__links {
    padding: 2rem 2rem;
}

.navbar__links ul{
    list-style: none;
}

.navbar__links ul li {
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.navbar__links ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.navbar__links ul li:hover ,
.navbar__active {
    border-radius: .6rem;
    background: #16222e;
    color: #f3f1f1;
}

.navbar__links ul li div {
    color: #f3f1f1;
}

.navbar__links span {
    font-size: 1.5rem;
}